FOUNDRY_PROJECT_ENDPOINT=https://4iq-foundry-project-resource.services.ai.azure.com/api/projects/4iq-foundry-project
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-5.4-mini
TOOLBOX_ENDPOINT=https://4iq-foundry-project-resource.services.ai.azure.com/api/projects/4iq-foundry-project/toolboxes/bank-servicing-agent-tools/mcp?api-version=v1
AGENT_INSTRUCTIONS_PATH=instructions.md
APPLICATIONINSIGHTS_CONNECTION_STRING=
VOICE_LIVE_ENDPOINT=https://4iq-foundry-project-resource.services.ai.azure.com
VOICE_LIVE_API_VERSION=2026-04-10
VOICE_LIVE_AGENT_NAME=bank-servicing-agent
VOICE_LIVE_PROJECT_NAME=4iq-foundry-project
VOICE_LIVE_VOICE=en-US-AlloyTurboMultilingualNeural
LOG_LEVEL=INFO
